<h2><%= link_to(l(:label_project_section_plural), { :controller => 'project_sections', :action => 'index' }) %> &#187; <%= h(@section) %></h2>

<% form = form_for(@section, :url => { :controller => 'project_sections', :action => 'update', :id => @section }, :builder => (TabularFormBuilder rescue Redmine::Views::LabelledFormBuilder)) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p>
    <%= f.submit(l(:button_save)) %>
  </p>
<% end %>

<%= form if Rails::VERSION::MAJOR >= 3 %>
